In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('raw-data.csv')
df['time']=pd.to_datetime(df['ts'],unit='ms')
df.set_index('time',inplace=True)
df.drop(columns=['ts'],inplace=True)

{}

In [7]:
print("hello hi")

hello hi

In [3]:
df

                             id      value  label
time
2020-04-23 11:13:54.617  pump-1  18.340181      0
2020-04-23 11:13:57.999  pump-2  12.703972      0
2020-04-23 11:13:59.618  pump-1  17.647661      0
2020-04-23 11:14:02.999  pump-2  13.805114      0
2020-04-23 11:14:04.617  pump-1  16.874933      0
...                         ...        ...    ...
2020-04-23 13:19:38.000  pump-2  43.276667      1
2020-04-23 13:19:39.617  pump-1  15.709151      0
2020-04-23 13:19:42.999  pump-2  16.214949      0
2020-04-23 13:19:44.617  pump-1  15.393048      0
2020-04-23 13:19:47.999  pump-2  14.855999      0

[3022 rows x 3 columns]